#python hub folders
apps
downloads
index
python
winpython
repos
build 
dist
__pycache__
#other code
api.py
#Installers, source of Windows-Install.exe included
Windows-Install.spec
Linux_Install.sh
OSX_Install.sh
Windows_Install.ps1
Windows-Install.exe
